# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Distribution / packaging
build/
dist/
*.egg-info/
*.egg

# Testing / coverage
htmlcov/
.coverage
.coverage.*
coverage/
.pytest_cache/

# Type checking
.mypy_cache/

# Virtual environments
.venv
venv/
env/
.env

# IDEs and other tools
.idea/
.vscode/
.ipynb_checkpoints
*.swp
*~
.DS_Store
Thumbs.db
log.txt
test.db
